@import url("https://github.netux.ml/css/chatright.css"); /* Chat completely to the right */
@import url("https://github.netux.ml/css/voteicons.css"); /* NB3 Vote Icons */
@import url("https://github.netux.ml/css/skynet.css"); /* Netox's bot prefs */
@import url("https://github.netux.ml/css/animations.css"); /* NB3 animations */
@import url("https://github.netux.ml/css/animations.css"); /* Pack of animations */
 
/* Small video (without buttons fix) from https://github.netux.ml/css/videosmall.css */
@media screen and (min-width: 72em) { /* If not "phone mode" */
    #main-room .left_section { padding: 0; margin-top: 0; }
    #main-room .left_section  .main-player-wrapper { display: initial; }
    #browser { padding-right: 450px; }

}
 
/* Special people colors */
#chat .chat-container ul.chat-main li.user-56c057eaa23bb71d0001ac91 .stream-item-content .activity-row .username /* tinyandkawaii */ { color:#FF9900 !important;  }
#chat .chat-container ul.chat-main li.user-560b18f88b4f900300cc6c06 .stream-item-content .activity-row .username /* slyfox */ { color: #76EE00 !important;  }
#chat .chat-container ul.chat-main li.user-570476b1fa0b0d5a00d2d1ec .stream-item-content .activity-row .username /* sister */ { color: #D43D1A !important;  }
#chat .chat-container ul.chat-main li.user-56b928b1a3e55abb04b33dae .stream-item-content .activity-row .username /* theofficialturbo */ { color: #00E5EE !important;  }
#chat .chat-container ul.chat-main li.user-56f7633a956749c200c62101 .stream-item-content .activity-row .username /* funnyguy77 */ { color: #4DBD33 !important;  }
#chat .chat-container ul.chat-main li.user-569d6f9289d6541900324f23 .stream-item-content .activity-row .username /* vipture */ { color:#EFD13B !important;  }
#chat .chat-container ul.chat-main li.user-56d545a245f02ad6041a4317 .stream-item-content .activity-row .username /* never_pause */ { color:#1464F4 !important;  }
#chat .chat-container ul.chat-main li.user-56cb6b73e85e1f1c0170f10a .stream-item-content .activity-row .username /* angeloidikaros */ { color:#DDA0DD !important;  }
#chat .chat-container ul.chat-main li.user-579143710581f82a00263624 .stream-item-content .activity-row .username /* lord_erazor */ { color:#8B0000 !important;  }
#chat .chat-container ul.chat-main li.user-567a5cfd1b5cc31d00596518 .stream-item-content .activity-row .username /* suzukin  */ { color:#7ec0ee !important;  }
#chat .chat-container ul.chat-main li.user-57cad451eefc48690074d4cd .stream-item-content .activity-row .username /* therealneko */ { color: #4DBD33 !important;  }
#chat .chat-container ul.chat-main li.user-5700387c65113f5f00f07b1f .stream-item-content .activity-row .username /* tracerwannabe */ { color: #0276FD !important;  }
#chat .chat-container ul.chat-main li.user-566d9dd049628d1900be79ba .stream-item-content .activity-row .username /* shifty */ { color: #05B8CC !important;  }
#chat .chat-container ul.chat-main li.user-580008b9e0e5943800c251f0 .stream-item-content .activity-row .username /* mrlancaster */ { color: #8CDD81 !important;  }
#chat .chat-container ul.chat-main li.user-5770500cd52e550a0058767a .stream-item-content .activity-row .username /* yato__ */ { color: #0099CC !important; }
#chat .chat-container ul.chat-main li.user-560b18f88b4f900300cc6c06 .stream-item-content .activity-row .username /* slyfox */ { color: #76EE00 !important;  } 
#chat .chat-container ul.chat-main li.user-578fb952d72db16f00aabecc .stream-item-content .activity-row .username /* juunix0 */ { color: #E3170D !important;  }

/* User banned fix */
#chat .pusher-chat-widget-input p {
    padding: .5rem 0;
    text-align: center;
    font-weight: bold;
    color: #AB0000;
    cursor: default;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    text-transform: uppercase;
}
#chat .pusher-chat-widget-input p::after { content: " ( Congrats... )"; text-transform: none; }
 
/* Chat avatars fix */
#chat .chat-container .chat-messages .chat-main li .stream-item-content .image_row { border-radius: 10%; }
#chat .chat-container .chat-messages .chat-main li .stream-item-content .image_row > img {
    max-width: none;
    height: 100%;
    display: block;
    margin: auto;
    border-radius: 10%;
}
/* Profile fixes */
#profileMainSection { top: 3.4rem; min-height: initial; height: calc(100vh - 6.9rem); overflow-y: auto; }
#profileMainSection .profileWrapper { margin-top: 3rem; }
#profileMainSection #profileSidebar #followersEl { margin-bottom: 3rem; }
 
/* User banned/message deleted fix */
#chat .chat-container .chat-messages .chat-main li.deleted-message .stream-item-content .image_row > img { opacity: .01; }
#chat .chat-container .chat-messages .chat-main li.deleted-message .stream-item-content .image_row::before {
    content: "X";
    font-family: cursive, Arial, sans-serif;
    position: absolute;
    top: 3px;
    left: 13px;
    font-weight: 900;
    color: red;
    font-size: 1.5rem;
}
 
/* Soundcloud player fixes */
#room-main-player-container-soundcloud { background-color: #111111; cursor: default; }
#main_player .player_container #room-main-player-container .playerElement.soundcloud img { pointer-events: none; }
 
/* ETA fixes (DubX) */
.eta_tooltip, .snooze_tooltip { border-top-right-radius: 0 !important; transform: translateX(-7px); }
.eta_tooltip::before, .snooze_tooltip::before {
    content: "";
    position: absolute;
    left: calc(100% - 8px);
    bottom: calc(100% - 15px / 1.5);
    transform: rotate(45deg);
    border: 8px solid transparent;
    border-bottom: 15px solid white;
}
 
/* Video next to chat */
@media screen and (min-width: 72em) {
    #main-room .left_section { left: initial; right: 450px; }
    #main-room .left_section #main_player { border-radius: 0 0 0 1rem; }
}
#main_player { padding-top: 1rem;
}
#main_player .player_header #topbanner {
    height: 1rem;
}
 
/* Room size fix */
@media screen and (min-width: 72em) { #main-room .main-room-wrapper { min-height: 0; margin-bottom: 0; } }
 
/* Skip animation */
@keyframes hidding-skip {
    0% { right: 0; }
    75%, 100% { right: -100%; visibility: hidden; }
}
@media screen and (min-width: 72em) {
    #main_player .player_header { overflow-x: hidden; }
    #main_player .player_header span.skip-el[style="display: none;"] {
        animation: hidding-skip .15s linear forwards;
        display: block !important;
    }
}
 
/* Mod tab fixes */
#mods-controllers .mods-controllers-main-wrapper { padding-top: 3rem; }
#mods-controllers .mods-controllers-main-wrapper .mod-controllers-headers { top: 0; }
#mods-controllers .mods-controllers-main-wrapper .mod-controllers-headers a.active { width: 50%; float: left; }

/* Import fixes */
#chat .chat-container .chat-messages .chat-main li.deleted-message .stream-item-content .image_row > img { opacity: 0.01 !important; }

/* James Chat color and stuff */
#chat .chat-container ul.chat-main li.user-56d47266a3af139b0357f646 .stream-item-content .activity-row .username /* TickingTime */ { color:#BCED91 !important;  }

#chat .chat-container .chat-messages .chat-main li.user-56d47266a3af139b0357f646 .activity-row .username .user-role {
    position: relative;
    visibility: hidden;   
}
#chat .chat-container .chat-messages .chat-main li.user-56d47266a3af139b0357f646 .activity-row .username .user-role::before {
    content: "James";
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
} 
/* Slyfox Chat Color and Stuff */
#chat .chat-container .chat-messages .chat-main li.user-560b18f88b4f900300cc6c06 .activity-row .username .user-role {
    position: relative;
    visibility: hidden;   
}
#chat .chat-container .chat-messages .chat-main li.user-560b18f88b4f900300cc6c06 .activity-row .username .user-role::before {
    content: "Devon";
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
}

/* Mrlancaster Chat Color and Stuff */
#chat .chat-container .chat-messages .chat-main li.user-580008b9e0e5943800c251f0 .activity-row .username .user-role {
    position: relative;
    visibility: hidden;   
}
#chat .chat-container .chat-messages .chat-main li.user-580008b9e0e5943800c251f0 .activity-row .username .user-role::before {
    content: "Tomas";
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
}
/* Netux Chat Color and Stuff */
#chat .chat-container ul.chat-main li.user-560b4a33d9057a0300cc2fa0 .stream-item-content .activity-row .username /* netux */ { color:#FF9900 !important;  }

#chat .chat-container .chat-messages .chat-main li.user-560b4a33d9057a0300cc2fa0 .activity-row .username .user-role {
    position: relative;
    visibility: hidden;   
}
#chat .chat-container .chat-messages .chat-main li.user-560b4a33d9057a0300cc2fa0 .activity-row .username .user-role::before {
    content: "Martin";
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
}
/* Kajen chat color and stuff */
#chat .chat-container ul.chat-main li.user-57a754a90d8c094700810329 .stream-item-content .activity-row .username /* kajen */ { color: #3838b5  !important;  }


#chat .chat-container .chat-messages .chat-main li.user-57a754a90d8c094700810329 .activity-row .username .user-role {
    position: relative;
    visibility: hidden;   
}
#chat .chat-container .chat-messages .chat-main li.user-57a754a90d8c094700810329 .activity-row .username .user-role::before {
    content: "Sander";
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
}

/* Dreken Chat Color and Stuff */
#chat .chat-container .chat-messages .chat-main li.user-542dca96d5fb6a0200b3a298 .activity-row .username {
    color: rgba(0,0,0,0);
}
#chat .chat-container .chat-messages .chat-main li.user-542dca96d5fb6a0200b3a298 .activity-row .username > * {
    display: none !important;
}
#chat .chat-main li.user-542dca96d5fb6a0200b3a298:not(.deleted-message) .activity-row .username::before {
    content: "ⅅreken";
    font-weight: 700;
    line-height: 1.2;
    color: #CD0000;
}
 
/* Mrlancaster Chat Color and Stuff */
#chat .chat-container .chat-messages .chat-main li.user-5818d381f179286f00a5344f .activity-row .username .user-role {
    position: relative;
    visibility: hidden;   
}
#chat .chat-container .chat-messages .chat-main li.user-5818d381f179286f00a5344f .activity-row .username .user-role::before {
    content: "Andy";
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
}

/* Bugtrack header logo */
.header-center-logo a {
    margin-top: 3.8px !important;
    width: 3rem !important;
    height: 3rem !important;
    content: url('http://i.imgur.com/c9bKR37.png');
}
 
 
/* Room size fix */
#main-room { max-width: initial; padding: 3.6rem 0 3.5rem 0; }
 
   
/* Welcome message in white */
#chat .chat-container .chat-messages .chat-main li.chat-welcome-message {
  color: white !important;
}

/* Custom @mention color */
.username-handle.mentioned { color: #0198E1 !important;  }

/* Custom Vote Icons */
#player-controller .right ul li .dub-counter,
#player-controller .right ul li .grab-counter
{ position: relative; top: -.35em; }
 
#player-controller .right ul li .icon-heart::before { content: url('http://i.imgur.com/CtKu2gz.png'); }
#player-controller .right ul li .dubup .icon-upvote::before { content: url('http://i.imgur.com/KWxxNGv.png'); }
#player-controller .right ul li .dubdown .icon-downvote::before { content: url('http://i.imgur.com/bxJufat.png'); }

#player-controller .right ul li .dubup.voted {
    background: rgba(0, 255, 80, 0.27)
}

#player-controller .right ul li .dubdown.voted {
    background: rgba(230, 33, 23, 0.19)
}
#player-controller .right ul li .add-to-playlist-button.grabbed, #player-controller .right ul li .add-to-playlist-button.voted, #player-controller .right ul li .dubdown.grabbed, #player-controller .right ul li .dubdown.voted{
    background: rgba(230, 33, 23, 0.19)
	   

}
/* Custom progress bar color */

#player-controller .left ul li.infoContainer .infoContainerInner .progressBg {
    background: color #ffffff
}
#main_player .player_sharing .player-controller-container .volume-controller-container #volume-div .ui-slider-handle {
    background: #13e254;
}
#main_player .player_sharing .player-controller-container .volume-controller-container #volume-div .ui-slider-range-min {
    background: #ffffff
}

/* Green mail */

#header-global .header-right-navigation .user-messages .message-counter {
    background: rgb(19, 226, 84);
}

/* hebgbs fixes */
#player-controller .right ul li:nth-child(n+2):nth-child(n-5){ position: relative; top: -4px !Important; }
 
/* Grab message icon */
#chat .chat-container .chat-messages .chat-main li.chat-system-grabbed::after {
    background-image: url('http://i.imgur.com/CtKu2gz.png');
    display: inline;
    position: absolute;
    background-size: cover;
}
/* Horizon Room Additions */
 
/* name colours */
#chat .chat-container .chat-messages .chat-main li.creator .user-role,
#chat .chat-container .chat-messages .chat-main li.creator .username,
#main_avatar_room #main-user-list-room #avatar-list li.creator .user-role,
#main_avatar_room #main-user-list-room #avatar-list li.creator .username
{
    color: #FF4DFE;
}
 
#chat .chat-container .chat-messages .chat-main li.co-owner .user-role,
#chat .chat-container .chat-messages .chat-main li.co-owner .username,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner .user-role,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner .username
{
    color: #FF4DFE;
}
 
#chat .chat-container .chat-messages .chat-main li.manager .user-role,
#chat .chat-container .chat-messages .chat-main li.manager .username,
#main_avatar_room #main-user-list-room #avatar-list li.manager .user-role,
#main_avatar_room #main-user-list-room #avatar-list li.manager .username
{
    color: #8D70FF;
}
 
#chat .chat-container .chat-messages .chat-main li.mod .user-role,
#chat .chat-container .chat-messages .chat-main li.mod .username,
#main_avatar_room #main-user-list-room #avatar-list li.mod .user-role,
#main_avatar_room #main-user-list-room #avatar-list li.mod .username
{
    color: #8D70FF;
}
 
#chat .chat-container .chat-messages .chat-main li.vip .user-role,
#chat .chat-container .chat-messages .chat-main li.vip .username,
#main_avatar_room #main-user-list-room #avatar-list li.vip .user-role,
#main_avatar_room #main-user-list-room #avatar-list li.vip .username
{
    color: #6A5ACD;
}
 
#chat .chat-container .chat-messages .chat-main li.resident-dj .user-role,
#chat .chat-container .chat-messages .chat-main li.resident-dj .username,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj .user-role,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj .username
{
    color: #46DBE4;
}
 
#chat .chat-container .chat-messages .chat-main li.admin .user-role,
#chat .chat-container .chat-messages .chat-main li.admin .username,
#main_avatar_room #main-user-list-room #avatar-list li.admin .user-role,
#main_avatar_room #main-user-list-room #avatar-list li.admin .username
{
    color: #ff7e00;
}
 
#chat .chat-container .chat-messages .chat-main li.user-55ffae6a1564a403003f5132 .user-role,
#chat .chat-container .chat-messages .chat-main li.user-55ffae6a1564a403003f5132 .username,
#main_avatar_room #main-user-list-room #avatar-list li.userid-55ffae6a1564a403003f5132 .user-role,
#main_avatar_room #main-user-list-room #avatar-list li.userid-55ffae6a1564a403003f5132 .username
{
    color: #caca00;
}
 
.admin .username:after
{
    display: none;
}
 
 
/* badges */
.creator span.user-role-icon {
    background-image: url(http://i.imgur.com/bmhKE7F.png);
    display: inline-block !important;
}
 
.co-owner span.user-role-icon {
    background-image: url(http://i.imgur.com/nYQpyNr.png);
    display: inline-block !important;
}
 
.manager span.user-role-icon {
    background-image: url(http://i.imgur.com/qhRyag9.png);
    display: inline-block !important;
}
 
.mod span.user-role-icon {
    background-image: url(http://i.imgur.com/n802hgl.png);
    display: inline-block !important;
}
.vip span.user-role-icon {
    background-image: url(http://i.imgur.com/uEKIXeL.png);
    display: inline-block !important;
}
 
/* Emote sizes */
#chat .emoji {
    max-width: none !important;
    max-height: 28px !important;
    width: auto !important;
    height: auto !important;
}
 
/* me command fix */
#chat .chat-container .chat-messages .chat-main li.system-error {
    text-transform: uppercase;
}
 
/* Info tab fixes */
#room-info-display .room-info-display-wrapper h2 { margin-top: 1rem; margin-bottom: 2rem; font-size: 1.5rem; }
#room-info-display .room-info-display-wrapper h2 span,
#room-info-display .room-info-display-wrapper h2 span i {
    font-size: 1rem;
}
 
/* Kris aditions */
 
#main_player .player_header span.skip-el {
    margin-right: 0;
}
#main_player .player_header #topbanner {
    margin-top: -6rem;
}
#main-room .left_section {
    margin-top: 0rem;
}
/* Same color for everything on the room */
#header-global,
#main-room .right_section,
#player-controller {
	background-color: rgba(15, 15, 15, 0.66);
}
#player-controller .left {
	background-color: rgba(0, 0, 0, 0);   
}
 
#player-controller .right { 
	background-color: rgba(15, 15, 15, 0.66);
}

/* Top bar */
#header-global .header-right-navigation .user-info span:hover,
#header-global .header-right-navigation .user-messages:hover,
#header-global .header-right-navigation .for:hover {
    color: #fff;
}

 
@media screen and (min-width: 72em) { /* If not "phone mode" */
    #main-room #chat .chat-container .chat-messages { height: inherit; }
    #main-room #chat .chat-container, #chat { height: 100%; }
}
 
@media screen and (min-width: 72em) { /* If not "phone mode" */
    /* Main function */
    #main-room .left_section { padding: 0; margin-top: 49px !important;  }
    #main-room .left_section  .main-player-wrapper { display: initial; }
    #main_player { width: 100%; max-width: 35.6%; min-width: 450px; float: right; }
 
}
#main_player .player_header{border-radius:0 !important;}
 
 
#browser .browser-content {
float: right;
}
 
/* Video (Main player - right) */
    /* Header */
#main_player {
    background: rgba(15,15,15,0.66);
    border-radius: 0;
    border-top: 0px solid #878c8e;
}
#main_player .player_header {
    background: inherit;
    color: #ccc;
    opacity: 1;
    border-radius: 0.5rem 0.5rem 0 0;
    padding-top: 12px;
    top: -49px;
}
#main_player .player_header span {
    background: rgba(0,0,0,0);
    color: #aaa;
    opacity: 1;
    font-size: 15.2px;
    font-size: .95rem;
    line-height: .8;
    border-radius: 0;
}
#main_player .player_header .active {
    padding-bottom: 14px;
}
#main_player .player_header span:hover:not(.active) {
    background: rgba(0,0,0,0);
    color: #fff;
}
#main_player .player_header span.active {
    background: rgba(0,0,0,0);
    color: #fff;
    opacity: 1;
    border-bottom: 2px solid #fff;
}
#main_player .player_header span.edit-room i {
    line-height: 0.95;
    left: -0.5px;
}
#main_player .player_header span.skip-el {
    margin-right: 0;
}
#main_player .player_header #topbanner {
    margin-top: -6rem;
}
#main-room .left_section {
    margin-top: 0rem;
}

